---
import externalIcon from "../../images/icon-external-link.png";

interface Props {
  title?: string;
  url?: string;
  image: {
    src: string;
    alt: string;
  };
  overflow?: boolean;
}

const { title, url, image, overflow } = Astro.props;
---

<div class="simpleCard">
  {
    title && (
      <div class="simpleCard__title">
        {url ? (
          <a href={url} target="_blank" rel="noopener noreferrer">
            {title}
            <img src={externalIcon.src} alt="" />
          </a>
        ) : (
          title
        )}
      </div>
    )
  }
  <div class=`simpleCard__img ${overflow ? '-overflow': ''}`>
    <img src={image.src} alt={image.alt} />
  </div>
</div>

<style lang="scss">
  @import "../../styles/mq.scss";

  .simpleCard {
    margin-top: 8px;
    box-sizing: border-box;

    .simpleCard__title {
      font-size: 16px;
      @include mq() {
        font-size: 18px;
      }

      a {
        display: inline-flex;
        align-items: center;
        text-decoration: underline;
        transition: opacity 0.3s;
        img {
          margin-left: 8px;
          width: 18px;
          height: 18px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .simpleCard__img {
      margin-top: 8px;
      aspect-ratio: 1.7 / 1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.-overflow {
        aspect-ratio: unset;
      }
    }
  }
</style>
