---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import ToggleLang from "../parts/ToggleLang.astro";
import Table from "../parts/Table.astro";
import Modal from "../parts/Modal.astro";
import Button from "../parts/Button.astro";
import type { ImageMetadata } from "astro";

interface Props {
  data: {
    pageTitle: string;
    h2_1: string;
    sections: {
      title: string;
      list: {
        name: string;
        modal?: {
          title: string;
          imgSrc: ImageMetadata;
          detail: string;
        };
      }[];
    }[];
    h2_2: string;
    h2_3: string;
    attendee: {
      thead: string[];
      tbody: string[][];
    };
  };
  lang: string;
}

const { data, lang } = Astro.props as Props;
// ↓これが動かない。jsで書き換えたいが。。ここにアクセスできない
let currentIndex = 0;
---

<Layout pageTitle={data.pageTitle} lang={lang}>
  <Section title={data.h2_2}>
    <div class="programBtnWrap">
      <Button
        href="/gyroidiseverywhere/program.pdf"
        text="Program"
        isBlank={false}
      />
      <Button
        href="/gyroidiseverywhere/poster.pdf"
        text="Posters"
        isBlank={false}
      />
    </div>
    <div class="programBtnWrap">
      <Button
        href="/gyroidiseverywhere/program/timetable/"
        text="Abstracts"
        isBlank={false}
      />
    </div>
  </Section>
  <Section title={data.h2_1}>
    {
      data.sections.map((section) => (
        <Section title={section.title} h3 lang={lang}>
          <ul class="list">
            {section.list.map((item, index) => {
              return (
                <li
                  class={item.modal ? "hasModal" : ""}
                  data-modal={JSON.stringify(item.modal)}
                  data-index={index}
                >
                  {item.name}
                </li>
              );
            })}
          </ul>
        </Section>
      ))
    }
  </Section>
  <Section title={data.h2_3}>
    <Table thead={data.attendee.thead} tbody={data.attendee.tbody} wide />
  </Section>
  <ToggleLang lang={lang} />
  <Modal data={data.sections[0].list[currentIndex].modal} />
</Layout>

<style lang="scss">
  @import "../../styles/mq.scss";

  // hasModalクラスを持つ要素はモーダルアイコンを表示
  .hasModal {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }

    &::after {
      margin-left: 5px;
      content: "";
      display: inline-block;
      transform: translateY(3px);
      width: 15px;
      height: 15px;
      background: url("../../images/program/icon-information.png") no-repeat;
      background-size: cover;
    }
  }
  .programBtnWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    & + & {
      margin-top: 16px;
    }
  }
</style>

<script>
  const modalOpenElements = document.querySelectorAll(".hasModal");
  const modal = document.querySelector(".modal");

  modalOpenElements.forEach((element) => {
    element.addEventListener("click", (event: any) => {
      event.stopPropagation();
      if (modal !== null) {
        // console.log("if passed");
        modal.classList.add("-active");
      }
    });
  });
</script>
