---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import ToggleLang from "../parts/ToggleLang.astro";
import TimeTable from "../parts/TimeTable.astro";
import Table from "../parts/Table.astro";

interface Props {
  data: {
    pageTitle: string;
    h2_1: string;
    sections: {
      title: string;
      list: {
        name: string;
        modal: boolean;
      }[];
    }[];
    h2_2: string;
    h2_3: string;
    ateendee: {
      thead: string[];
      tbody: {
        item1: string;
        item2: string;
        item3: string;
      }[];
    };
  };
  lang: string;
}

const { data, lang } = Astro.props as Props;
---

<Layout pageTitle={data.pageTitle} lang={lang}>
  <Section title={data.h2_1}>
    {
      data.sections.map((section) => (
        <Section title={section.title} h3 lang={lang}>
          <ul class="list">
            {section.list.map((item) => {
              return (
                <li class={item.modal ? "hasModal" : ""}>{item.name}</li>
              );
            })}
          </ul>
        </Section>
      ))
    }
  </Section>
  <Section title={data.h2_2}>
    <TimeTable />
  </Section>
  <Section title={data.h2_3}>
    <Table thead={data.ateendee.thead} tbody={data.ateendee.tbody} />
  </Section>
  <ToggleLang lang={lang} />
</Layout>

<style lang="scss">
  @import "../../styles/mq.scss";

  // hasModalクラスを持つ要素はモーダルアイコンを表示
  .hasModal {
    position: relative;
    width: fit-content;
    
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: url("../../images/program/icon-information.png") no-repeat;
      background-size: contain;
    }
  }

  .modal {
    // todo:あとでコメントアウト解除
    width: 100%;
    height: 100%;
    // opacity: 0;
    // visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
    overflow: auto;

    .-active {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
